.form-popup {
    background: rgba(255, 255, 255);
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }

  .scrolltable {
    height: 10px;
    overflow: auto;
  }

  tr.header
{
  cursor: pointer;
}

li.pointer {
  cursor: pointer
}